@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body,h1,h2,h3,h4,h5,p{
    font-family:'DM Sans', sans-serif;
    text-align:center;
}
.banner-top{
    background-color:#2044F4;
}

.banner-top p{
    font-size:14px;
    color:white;
    font-weight:bold;
    text-align:center;
    margin:7px 0;
}

.logo-container img{
    margin:0;
}

.main-content p{
    text-align:center;
    margin:25px auto 30px;
}

.main-content h1{
    font-size:40px;
    font-weight:bold;
    text-align:center;
    margin:236px auto 0;
}


.btn-outline-primary{
    border-radius: 30px;
    margin:0 auto;
}
